body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcdbdb;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search-input {
    font-size: large;
    border: none;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 5px 10px;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
    list-style: none;
    padding: 0;
    margin: 5px;
}
.top-btn-container {
    position: relative;
    display: flex;
    gap: 20px;
    button {
        width: 150px;
    }
}
.top-buttons {
    background-color: #c1c1c1;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0;
    &:hover {
        cursor: pointer;
        scale: 1.05;
    }
}
#new-station {
    background-color: rgb(8, 123, 69);
    padding: 12px 30px;
    margin-bottom: 15px;
}
.close {
    color: red;
    font-size: 32px;
    font-weight: 600;
    &:hover {
        scale: 1.2;
    }
}

li {
    list-style: none;
}

.station-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    list-style: none;
    padding: 0;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;

    .btn-container {
        display: flex;
        align-items: flex-end;
        margin-left: auto;

        gap: 10px;
        .station-btn {
            width: 120px;
            white-space: nowrap;
            font-weight: 600;
            border: none;
            border-radius: 5px 18px;
            padding: 5px;
            color: white;
            &:hover {
                cursor: pointer;
                scale: 1.05;
            }
        }
        #edit-station {
            background-color: rgb(8, 81, 123);
        }
        #change-status-btn {
            background-color: rgb(255, 245, 54);
            color: black;
        }
        #delete-btn {
            background-color: rgb(123, 8, 8);
        }
    }
}
.message {
    color: red;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: 40%;
    right: -65%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: opacity 1s;
}

.active-tab {
    background-color: rgb(134, 25, 25);
}
.station-active {
    background-color: rgb(30, 157, 119);
}
.station-inactive {
    background-color: rgb(242, 44, 44);
}
#station-status {
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
#new-station-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
    span {
        &:hover {
            cursor: pointer;
        }
    }
}
#modal {
    display: none;
}
#btn-apply {
    cursor: pointer;
    &:hover {
        scale: 1.05;
        background-color: rgb(190, 185, 185);
    }
}
.edit-station-form {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    span {
        &:hover {
            cursor: pointer;
        }
    }
}
#station-list {
    min-width: 600px;
    max-height: 50vh;
    overflow-y: scroll;
    border: 6px solid rgb(159, 122, 122);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: none;
}
