$main-color: #fdf6f6;
$secondary-color: rgb(11, 8, 8);
$main-bg-color: #f2e7e7;
$active-color: rgb(30, 157, 119);
$inactive-color: rgb(242, 44, 44);
$btn-red-color: rgb(123, 8, 8);
$btn-green-color: rgb(8, 123, 69);
$btn-blue-color : rgb(8, 81, 123);
$btn-yellow-color: rgb(231, 200, 26);
$btn-light-blue-color: rgb(40, 181, 183);
$main-font-weight: 600;

%flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%flex-row-center {
    display: flex;
    align-items: center;
}


body {
    @extend %flex-col-center;
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
}

main {
    width: 1000px;
    @extend %flex-col-center;
}

#counter {
    font-size: 18px;
    font-weight: $main-font-weight;
}

#search-input {
    font-size: large;
    border: none;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 5px 10px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    list-style: none;
    padding: 0;
    margin: 5px;
}

.top-btn-container {
    display: flex;
    position: relative;
    gap: 20px;

    button {
        width: 150px;
    }
}

.top-buttons {
    display: inline-block;
    background-color: #c1c1c1;
    border: none;
    color: $main-color;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    margin: 4px 0;

    &:hover {
        cursor: pointer;
        scale: 1.05;
    }
}

#new-station {
    background-color: $btn-green-color;
    padding: 12px 30px;
    margin-bottom: 15px;
}

.close,
.edit-close,
#new-station-input-close {
    color: $inactive-color;
    background: none;
    border: none;
    font-size: 32px;
    font-weight: $main-font-weight;

    &:hover {
        cursor: pointer;
        scale: 1.2;
    }
}

li {
    list-style: none;
}

.station-container {
    @extend %flex-row-center;
    justify-content: flex-start;
    gap: 5px;
    list-style: none;
    padding: 0;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;


    .btn-container {
        display: flex;
        align-items: flex-end;
        margin-left: auto;

        gap: 10px;

        .station-btn {
            width: 120px;
            white-space: nowrap;
            font-weight: $main-font-weight;
            border: none;
            border-radius: 5px 18px;
            padding: 5px;
            color: $main-color;

            &:hover {
                cursor: pointer;
                scale: 1.05;
            }
        }

        #get-metrics {
            background-color: $btn-light-blue-color;
            color: $main-color;
            font-weight: $main-font-weight;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
                scale: 1.05;
            }
        }

        #edit-station {
            background-color: $btn-blue-color;
        }

        #change-status-btn {
            background-color: $btn-yellow-color;
            color: $main-color;
        }

        #delete-btn {
            background-color: $btn-red-color;
        }
    }
}

.message {
    color: $inactive-color;
    font-size: 24px;
    font-weight: $main-font-weight;
    position: absolute;
    top: 40%;
    right: -65%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: opacity 1s;
}

.active-tab {
    background-color: $btn-red-color
}

.station-active {
    background-color: $active-color;
}

.station-inactive {
    background-color: $inactive-color
}

#station-status {
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

#new-station-form {
    @extend %flex-row-center;
    margin-bottom: 10px;
    gap: 5px;

    span {
        &:hover {
            cursor: pointer;
        }
    }
}

#modal {
    display: none;
}

#btn-apply {
    cursor: pointer;

    &:hover {
        scale: 1.05;
        background-color: rgb(190, 185, 185);
    }
}

.edit-station-form {
    @extend %flex-row-center;
    height: 20px;
    gap: 5px;

    span {
        &:hover {
            cursor: pointer;
        }
    }
}

#station-list {
    // min-width: 30vw;
    max-height: 50vh;
    overflow-y: scroll;
    border: 4px solid $btn-green-color;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: none;

    background-color: $main-bg-color;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 30px #ffffff;

    &::-webkit-scrollbar {
        width: 10px;

        &-thumb {
            background-color: $btn-light-blue-color;
            border-radius: 5px;
        }
    }

}

.metrics-info {
    @extend %flex-row-center;
    margin: 10px 0;
    height: 20px;
    gap: 15px;

    div {
        padding: 0 5px;
        border: 2px solid rgb(165, 143, 143);
        width: 120px;
        display: flex;
        border-radius: 8px;
        align-items: center;
        gap: 5px;
    }
}